<main class="main" role="main">
  <section class="featured-article">
    {{ range first 1 (where .Site.RegularPages "Type" "posts") }}
      <article class="h-entry">
        <header>
          <h1 class="p-name">{{ .Title }}</h1>
          <div class="article-meta">
            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006年1月2日" }}</time>
            {{ with .Params.tags }}{{ range . }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="p-category">{{ . }}</a>{{ end }}{{ end }}
          </div>
        </header>
        <div class="e-content">
          {{ .Summary }}
          {{ if .Truncated }}<a href="{{ .RelPermalink }}">阅读全文 →</a>{{ end }}
        </div>
      </article>
    {{ end }}
  </section>

  <section class="article-archives">
    <h2>往期文章</h2>
    {{ partial "components/paginator" . }}
  </section>
</main>